@font-face{
  font-family: myfont;
  src: url(Comfortaa-Light.ttf);
}

@font-face {
  font-family: fragment;
  src: url(Fragmentcore.otf);
}

h3{
  font-family: fragment;
  font-size: 40px;
  color: #2C3974;
}
label{
  color: #AA8732;
  font-weight: bolder;
  font-size: 16px;
}
table{
  font-family: fragment;
  font-size: 20px;
}
th{
  color:#AA8732;
  font-weight: bolder;
}

hr{
  opacity: 0.5;
  width: 60%;
}
html {
  font-family: fragment;
}

.cmn-t-underline {
  position: relative;
  color: #000;
}
.cmn-t-underline:after {
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 10px;
  background-color: #009FE3;
  content: "";
  transition: width 0.2s;
}
.cmn-t-underline:hover {
  color: #000;
}
.cmn-t-underline:hover:after {
  width: 100%;
}

.cmn-t-shake-deleteStory, .cmn-t-shake-editStory {
  padding:5px 0px;
  color: #000;
  /* transition: transform 0.2s; */
}
.cmn-t-shake-deleteStory:hover, .cmn-t-shake-editStory:hover {
  color: #000;
  animation: shake 1s ease-in-out;
}
@keyframes shake {
  0% {
    transform: translateX(0);
  }

  20% {
    transform: translateY(-3px);
  }

  40% {
    transform: translateY(3px);
  }

  60% {
    transform: translateY(-3px);
  }

  80% {
    transform: translateY(3px);
  }

  100% {
    transform: translateX(0);
  }
}
